.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #2081d5eb;
    padding: 10px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  .logo span {
    color: #6df061;
  }
  
  .nav-links li {
    display: inline-block;
    margin-right: 10px;
    
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }