/* 
.header {
    background-color: lightblue;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  } */
  
/*   
  .header ul {
    display: flex;
    flex-direction: row;
    overflow: visible;

  }
  
  .header li {
    list-style-type: none;
    margin: 0 10px;
  }
  
  .header a {
    text-decoration: none;
  } */