/* Reset default styles */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Homepage layout */
  .homepage {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }

  .hero {
    text-align: center;
    margin-bottom: 40px;
    padding: 100px;
  }
  
  .hero-title {
    font-size: 36px;
    margin-bottom: 10px;
    color: white;
  }
  
  .hero-subtitle {
    color: white;
    margin-bottom: 20px;
  }
  
  .hero-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #202cd5eb;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .feature {
    flex-basis: 30%;
    text-align: center;
  }
  
  .feature-title {
    font-size: 24px;
    margin-bottom: 10px;
    color: blue;
  }
  
  .feature-description {
    color: #777;
  }
  .feature img {
    max-width: 100%;
    height: auto;
    max-height: 1000px; 
  }

  /* background effects */
  @keyframes changeBackground {
    0% { background-image: url('../../assets/images/gallery-02.jpg'); }
    33% { background-image: url('../../assets/images/gallery-03.jpg'); }
    66% { background-image: url('../../assets/images/gallery-04.jpg'); }
    100% { background-image: url('../../assets/images/gallery-02.jpg'); }
  }
  
  .hero {
    animation: changeBackground 12s infinite;
    background-size: cover;
    background-position: center;
  }