
.header {
    background-color: lightblue;
    color: #fff;
    /* float: right; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* this sets the header items to the right
    float: right; */
  }
  
  
  .header ul {
    display: flex;
    flex-direction: row;
    overflow: visible;
   
    

  }
  
  .header li {
    list-style-type: none;
    margin: 0 10px;
  }
  
  .header a {
    text-decoration: none;
  }